[nash]
database        = 'dbname'
username        = 'dbusername'
password        = 'dbpassword'
dailyBackupHour = 22
use_gzip        = 'true'
use_s3          = 'true'
bucket_prefix   = 's3_bucket_prefix_must_be_unique'
aws_key         = 'your_aws_api_key'
aws_secret_key  = 'your_aws_secret_key'
