[nash]
database        = 'dbname'
username        = 'dbusername'
password        = 'dbpassword'
dailyBackupHour = 22
use_s3          = true
aws_key         = 'your_aws_api_key'
aws_secret_key  = 'your_aws_secret_key'
